# Formal Verification

## VerX

Presentation slides - [https://polybox.ethz.ch/index.php/s/Qpx3VZxAnmwyBWl](https://polybox.ethz.ch/index.php/s/Qpx3VZxAnmwyBWl)

